argcomplete==1.12.3
cfgv==3.3.1
charset-normalizer==2.1.0
colorama==0.4.5
commitizen==2.29.5
decli==0.5.2
distlib==0.3.5
filelock==3.7.1
identify==2.5.3
Jinja2==3.1.2
MarkupSafe==2.1.1
nodeenv==1.7.0
packaging==21.3
platformdirs==2.5.2
pre-commit==2.20.0
prompt-toolkit==3.0.30
pyparsing==3.0.9
PyYAML==6.0
questionary==1.10.0
termcolor==1.1.0
toml==0.10.2
tomlkit==0.11.1
typing_extensions==4.3.0
virtualenv==20.16.3
wcwidth==0.2.5
